<header class="tm-header jsHeader">
  <div class="tm-logo"><a class="tm-logo__link" href="/"> <span class="tm-logo__img"></span> </a></div>
  <div class="tm-header__partner">
    <div
      class="portlet-boundary portlet-boundary_selectpartner_WAR_tmusportalwar_ portlet-static portlet-static-end portlet-borderless "
      id="p_p_id_selectpartner_WAR_tmusportalwar_"><span id="p_selectpartner_WAR_tmusportalwar"></span>
      <div class="portlet-borderless-container" style="">
        <div class="portlet-body">
          <!--<script type="text/javascript">nc_Portlets = window.nc_Portlets || [];
          nc_Portlets.push({
            id: "selectpartner_WAR_tmusportalwar",
            jsClass: "nc.portlets.SelectPartner",
            params: {partners: [{partnerId: "89", className: "jsT-Mobile", selected: true, name: "T-Mobile"}]},
            context: "/tmus.portal-war",
            actionUrl: "https://162.248.83.31:19105/web/guest/search-subscriber?p_auth\u003dSyRonFiw\u0026p_p_id\u003dselectpartner_WAR_tmusportalwar\u0026p_p_lifecycle\u003d1\u0026p_p_state\u003dnormal\u0026p_p_mode\u003dview",
            resourceUrl: "https://162.248.83.31:19105/web/guest/search-subscriber?p_p_id\u003dselectpartner_WAR_tmusportalwar\u0026p_p_lifecycle\u003d2\u0026p_p_state\u003dnormal\u0026p_p_mode\u003dview\u0026p_p_cacheability\u003dcacheLevelPage",
            exception: null
          });
          window.portalContext = window.portalContext || "";</script>-->
          <div class="tm-partner-select">
            <div class="tm-partner-select__text jsT-Mobile">T-Mobile</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tm-header__menu">
    <div
      class="portlet-boundary portlet-boundary_topnavigator_WAR_tmusportalwar_ portlet-static portlet-static-end portlet-borderless "
      id="p_p_id_topnavigator_WAR_tmusportalwar_"><span id="p_topnavigator_WAR_tmusportalwar"></span>
      <div class="portlet-borderless-container" style="">
        <div class="portlet-body">
         <!-- <script type="text/javascript">nc_Portlets = window.nc_Portlets || [];
          nc_Portlets.push({
            id: "topnavigator_WAR_tmusportalwar",
            jsClass: "nc.portlets.TopNavigatorPortlet",
            params: {showProdBanner: false, prodBannerBackground: "#f49ac2"},
            context: "/tmus.portal-war",
            actionUrl: "https://162.248.83.31:19105/web/guest/search-subscriber?p_auth\u003dSyRonFiw\u0026p_p_id\u003dtopnavigator_WAR_tmusportalwar\u0026p_p_lifecycle\u003d1\u0026p_p_state\u003dnormal\u0026p_p_mode\u003dview",
            resourceUrl: "https://162.248.83.31:19105/web/guest/search-subscriber?p_p_id\u003dtopnavigator_WAR_tmusportalwar\u0026p_p_lifecycle\u003d2\u0026p_p_state\u003dnormal\u0026p_p_mode\u003dview\u0026p_p_cacheability\u003dcacheLevelPage",
            exception: null
          });
          window.portalContext = window.portalContext || "";</script>-->
          <div class="jsTopNavigatorRoot">
            <nav class="tm-menu jsTopNavigationList">
              <div class="tm-menu__item taTab"><a class="tm-menu__link taLabel" href="/dashboard">Dashboard</a></div>
              <div class="tm-menu__item taTab"><a class="tm-menu__link taLabel" href="/standard-reports">Reports</a>
              </div>
              <div class="tm-menu__item taTab _active"><a class="tm-menu__link taLabel" href="/search-subscriber">Subscribers</a>
              </div>
              <div class="tm-menu__item taTab"><a class="tm-menu__link taLabel" href="/search-partner">Partners</a>
              </div>
              <div class="tm-menu__item taTab"><a class="tm-menu__link taLabel" href="/finance-ccpc">Finance</a></div>
              <div class="tm-menu__item taTab"><a class="tm-menu__link taLabel" href="/user-link" rel="noopener noreferrer"
                                                  target="_blank">Users</a></div>
              <div class="tm-menu__item taTab jsTopNavigatorMore _hidden"><span
                class="tm-menu__link taLabel _more">More</span></div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tm-header__controls">
    <div
      class="portlet-boundary portlet-boundary_help_WAR_tmusportalwar_ portlet-static portlet-static-end portlet-borderless "
      id="p_p_id_help_WAR_tmusportalwar_"><span id="p_help_WAR_tmusportalwar"></span>
      <div class="portlet-borderless-container" style="">
        <div class="portlet-body">
          <!--<script type="text/javascript">nc_Portlets = window.nc_Portlets || [];
          nc_Portlets.push({
            id: "help_WAR_tmusportalwar",
            jsClass: "nc.portlets.HelpPortlet",
            params: {},
            context: "/tmus.portal-war",
            actionUrl: "https://162.248.83.31:19105/web/guest/search-subscriber?p_auth\u003dSyRonFiw\u0026p_p_id\u003dhelp_WAR_tmusportalwar\u0026p_p_lifecycle\u003d1\u0026p_p_state\u003dnormal\u0026p_p_mode\u003dview",
            resourceUrl: "https://162.248.83.31:19105/web/guest/search-subscriber?p_p_id\u003dhelp_WAR_tmusportalwar\u0026p_p_lifecycle\u003d2\u0026p_p_state\u003dnormal\u0026p_p_mode\u003dview\u0026p_p_cacheability\u003dcacheLevelPage",
            exception: null
          });
          window.portalContext = window.portalContext || "";</script>-->
          <div class="tm-header-control _help jsHelp">
            <div class="tm-header-control__icon jsHelpOpen" title="Help"></div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="portlet-boundary portlet-boundary_lasttransactions_WAR_tmusportalwar_ portlet-static portlet-static-end portlet-borderless "
      id="p_p_id_lasttransactions_WAR_tmusportalwar_"><span id="p_lasttransactions_WAR_tmusportalwar"></span>
      <div class="portlet-borderless-container" style="">
        <div class="portlet-body">
          <!--<script type="text/javascript">nc_Portlets = window.nc_Portlets || [];
          nc_Portlets.push({
            id: "lasttransactions_WAR_tmusportalwar",
            jsClass: "nc.portlets.LastTransactionsPortlet",
            params: {
              pendingStatus: "Pending",
              tabId: "851ed69e-bec4-4a2d-9dc2-584f56168625",
              pollingInterval: 60,
              lastTransactions: {unread: false, lastTransaction: null, recentTransactions: []},
              autoHideTimeout: 5
            },
            context: "/tmus.portal-war",
            actionUrl: "https://162.248.83.31:19105/web/guest/search-subscriber?p_auth\u003dSyRonFiw\u0026p_p_id\u003dlasttransactions_WAR_tmusportalwar\u0026p_p_lifecycle\u003d1\u0026p_p_state\u003dnormal\u0026p_p_mode\u003dview",
            resourceUrl: "https://162.248.83.31:19105/web/guest/search-subscriber?p_p_id\u003dlasttransactions_WAR_tmusportalwar\u0026p_p_lifecycle\u003d2\u0026p_p_state\u003dnormal\u0026p_p_mode\u003dview\u0026p_p_cacheability\u003dcacheLevelPage",
            exception: null
          });
          window.portalContext = window.portalContext || "";</script>-->
          <div class="tm-header-control _last-transactions jsLastTransactions">
            <div class="tm-header-control__icon jsLastTransactionsOpen" title="Last Transaction"></div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="portlet-boundary portlet-boundary_quicklinks_WAR_tmusportalwar_ portlet-static portlet-static-end portlet-borderless "
      id="p_p_id_quicklinks_WAR_tmusportalwar_"><span id="p_quicklinks_WAR_tmusportalwar"></span>
      <div class="portlet-borderless-container" style="">
        <div class="portlet-body">
          <!--<script type="text/javascript">nc_Portlets = window.nc_Portlets || [];
          nc_Portlets.push({
            id: "quicklinks_WAR_tmusportalwar",
            jsClass: "nc.portlets.QuickLinksPortlet",
            params: {},
            context: "/tmus.portal-war",
            actionUrl: "https://162.248.83.31:19105/web/guest/search-subscriber?p_auth\u003dSyRonFiw\u0026p_p_id\u003dquicklinks_WAR_tmusportalwar\u0026p_p_lifecycle\u003d1\u0026p_p_state\u003dnormal\u0026p_p_mode\u003dview",
            resourceUrl: "https://162.248.83.31:19105/web/guest/search-subscriber?p_p_id\u003dquicklinks_WAR_tmusportalwar\u0026p_p_lifecycle\u003d2\u0026p_p_state\u003dnormal\u0026p_p_mode\u003dview\u0026p_p_cacheability\u003dcacheLevelPage",
            exception: null
          });
          window.portalContext = window.portalContext || "";</script>-->
          <div class="tm-header-control _quick-links jsQuickLinks">
            <div class="tm-header-control__icon jsQuickLinksOpen" title="Quick Links"></div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="portlet-boundary portlet-boundary_profilemenu_WAR_tmusportalwar_ portlet-static portlet-static-end portlet-borderless "
      id="p_p_id_profilemenu_WAR_tmusportalwar_"><span id="p_profilemenu_WAR_tmusportalwar"></span>
      <div class="portlet-borderless-container" style="">
        <div class="portlet-body">
          <!--<script type="text/javascript">nc_Portlets = window.nc_Portlets || [];
          nc_Portlets.push({
            id: "profilemenu_WAR_tmusportalwar",
            jsClass: "nc.portlets.ProfileMenuPortlet",
            params: {},
            context: "/tmus.portal-war",
            actionUrl: "https://162.248.83.31:19105/web/guest/search-subscriber?p_auth\u003dSyRonFiw\u0026p_p_id\u003dprofilemenu_WAR_tmusportalwar\u0026p_p_lifecycle\u003d1\u0026p_p_state\u003dnormal\u0026p_p_mode\u003dview",
            resourceUrl: "https://162.248.83.31:19105/web/guest/search-subscriber?p_p_id\u003dprofilemenu_WAR_tmusportalwar\u0026p_p_lifecycle\u003d2\u0026p_p_state\u003dnormal\u0026p_p_mode\u003dview\u0026p_p_cacheability\u003dcacheLevelPage",
            exception: null
          });
          window.portalContext = window.portalContext || "";</script>-->
          <div class="tm-header-control _profile-menu jsProfileMenu">
            <div class="tm-header-control__icon jsProfileMenuOpen" title="My Profile"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<app-subscribers></app-subscribers>
