.tm-header {
  position: relative;
  z-index: 3;
  height: 80px;
  background: #000;
  padding: 0 30px 0 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}

.tm-logo {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  white-space: nowrap;
  position: relative;
  top: -2px;
  left: 4px;
  -webkit-flex-basis: 90px;
  flex-basis: 90px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.tm-header__menu {
  margin: 0 auto 0 30px;
}
.tm-menu__item {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
}
.tm-menu {
  white-space: nowrap;
}

element.style {
}
.tm-menu__link {
  display: block;
  color: rgba(255,255,255,0.5);
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.tm-menu__item {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
}
.tm-menu__item+.tm-menu__item {
  margin-left: 32px;
}
.tm-menu__link {
  display: block;
  color: rgba(255,255,255,0.5);
}
